<h1>Unfriend.it</h1>
<p>Mass-unfriending for the masses. <strong>Log in below with your Facebook account</strong> to finally get rid of those unwanted friends clogging your timeline.</p>

<p><a href="/auth/facebook" class="button button-fb"><span><span>Login with Facebook</span></span></span></p>