<!DOCTYPE html>
<html>
	<head>
		<title>unfriend.it</title>
		
		<link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/buttons.css" />
		<link rel="stylesheet" href="/css/mini.css" />
		
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/unfriend.js"></script>
		<script type="text/javascript" src="/js/global.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<%- body %>
		</div>
		
		<%- partial('layout/analytics') %>
	</body>
</html>