/**
 * Mini CSS for unfriend.it
 * (c) unfriendit
 * Author: Tom Arnfeld <tarnfeld@me.com>
 */

/**
 * Global / Layout
 */
 
body {
	font-family: "Lucida Grande", Tahoma, Helvetica, Arial, sans-serif;
}
#wrapper {
	width: 320px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -72.5px 0 0 -160px;
}
h1 {
	width: 320px;
	height: 41px;
	text-indent: -100000px;
	margin: 0 0 7px 0;
	padding: 0;
	background: url(/images/mini/logo.gif) no-repeat 0 0;
}
p {
	margin: 0;
	font-size: 11px;
	line-height: 1.4;
}
a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	-webkit-transition: color 200ms ease-in-out;
}
a:hover {
	color: #476fb3;
}
button, .button {
	margin-top: 25px;
	margin-left: 70px;
}