/**
 * Main CSS for unfriend.it
 * (c) unfriendit
 * Author: Tom Arnfeld <tarnfeld@me.com>
 */

/**
 * Global / Layout
 */
body {
  background: #fff;
  font-family: "Lucida Grande", "Helveitca", Arial, sans-serif;
  font-size: 11px;
  color: #000;
}
#wrapper {
  width: 864px;
  padding: 48px;
  margin: 0 auto;
}
p {
  margin: 10px 0;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  -webkit-transition: color 150ms ease-in-out;
}
a:hover {
  color: #476fb3;
}
a:active {
  position: relative;
  top: 1px;
}
.logout:hover {
  color: #b71d00;
}
/**
 * Columns
 */
.cols { }
  .cols .subcol {
    float: left;
    width: 191px;
    margin: 0 -1px 0 0;
    padding: 0 1px 0 0;
  }
  .cols .maincol {
    float: left;
    width: 624px;
    padding: 0 0 0 48px;
  }

/**
 * Subcol
 */
.subcol { }
  .subcol h1 { }
    .subcol h1 a {
      display: block;
      width: 191px;
      height: 42px;
      text-indent: -100000px;
      background: url(/images/logo.gif) 0 0 no-repeat;
    }
    .subcol h1 a:hover {
      top: 0;
    }

/**
 * Friends
 */
.friends {
  margin: 0 -48px 0 0;
}
  .friends .friend {
    float: left;
    width: 256px;
    padding: 15px 16px;
    border-top: 1px solid #e5e5e5;
    margin-right: 48px;
    position: relative;
    cursor: pointer;
  }
  .friends .friend.checked {
    background: #fff2f2;
  }
    .friends .friend img {
      float: left;
      margin: 0 16px 0 0;
    }
    .friends .friend p {
      float: left;
      font-size: 13px;
      padding-top: 6px;
    }
    .friends .friend.checked p {
      color: #a00000;
    }
    .friends .friend .check {
      display: block;
      position: absolute;
      width: 18px;
      height: 18px;
      right: 15px;
      top: 50%;
      margin: -9px 0 0 0;
      background: url(/images/checks.gif) 0 0 no-repeat;
    }
    .friends .friend.checked .check {
      background-position: 0 100%;
    }

/**
 * Loading
 */
.loading {
  background: url(/images/loading.gif) 50% 100% no-repeat;
}
  .loading p {
    text-align: center;
    padding: 10px 0 20px 0;
  }